@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Добре дошли в Калкулатора</h1>
=======
    <h1 class="display-4">Добре дошли</h1>
    <p>Проект ASP.NET Финансов калкулатор</p>
    <p>CSCB532 Практика по програмиране и интернет технологии</p>
>>>>>>> main
</div>
