@page
@model PrivacyModel
@{
    ViewData["Title"] = "Създатели на проекта и авторско право";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Име</th>
            <th>Факултетен №</th>
            <th>Роля</th>
            <th>Github акаунт</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>Теодор Мангъров</td>
            <td>F113621</td>
            <td>архитект, експерт документация</td>
            <td><a href="https://github.com/xfgt">xfgt</a></td>
        </tr>


        <tr>
            <td>Мартин Костадинов</td>
            <td>F113364</td>
            <td>софтуерен инженер</td>
            <td><a href="https://github.com/Martinkata1">Martinkata1</a></td>
        </tr>


        <tr>
            <td>Емилий-Викториан Едуардович Багиров-Касяненко</td>
            <td>F110580</td>
            <td>тестер</td>
            <td><a href="https://github.com/VIBAG-bg">VIBAG-bg</a></td>
        </tr>


        <tr>
            <td>Иван Велков</td>
            <td>F114454</td>
            <td>дизайнер</td>
            <td><a href="https://github.com/Johan-Valkov">Johan-Valkov</a></td>
        </tr>

    </tbody>
</table>
